.income-page {
    display: flex;
}

.income-list {
    flex-grow: 2;
    margin-bottom: 5rem;
    margin-inline: 2rem;
}

.form-container {
    flex-grow: 1;
}

.title {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0;
}

.income-page .Nav {
    margin-top: 6rem;
}