.add-expense-form{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,184,255, .6);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,.4);
    padding: 2rem;
    padding-bottom: 2rem;
    height: fit-content;
    margin: 6rem 2rem 5rem 2rem;
}

.add-expense-form input,
.add-expense-form select {
    padding: .3rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.add-expense-form-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid rgb(41, 50, 65);
    padding: 2rem;
    margin-top: 1rem;
}

.add-expense-form button {
    border-radius: 5px;
    color: white;
    border: 2px solid rgb(238, 108, 77);
    background-color: rgb(61, 90, 128);
    padding: .5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.add-expense-form button:hover {
    background-color: rgb(238, 108, 77);
    border: 2px solid rgb(61, 90, 128);
}