.income-item{
    background-color: rgba(0,184,255, .6);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,.4);
    padding: 0 1rem 1rem 1rem;
    margin: .5rem 2rem;
    position: relative;
}
.income-date-button p{
    padding-top: .5rem;
}
.income-item-description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid rgb(41, 50, 65);
    margin-bottom: .5rem;
}

.category-title {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
    color: rgba(45, 0, 247, 1);
    border: none;
}

.flex-item{
    text-align: center;
}

.date-and-button button{
    align-self: center;
}

.edit-button {
    font-size: 1.4rem;
    cursor: pointer;
    position: absolute;
    top: .5rem;
    right: .5rem;
}