.auth-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4rem;    
}

.auth-container input {
    font-size: 1.1rem;
}

.auth-container p{
    margin: auto;
}