.expense-page {
    display: flex;
}

.expense-list {
    flex-grow: 2;
    margin-bottom: 5rem;
    margin-inline: 2rem;
}

.add-expense-form-container {
    flex-grow: 1;
}

.expense-page .Nav {
    margin-top: 6rem;
}