.pie{
    margin-left: 2rem;
    margin-top: 4rem;
}

.pie-chart {
    width: 30vw;
}

canvas {
    width: 100%;
}


.pie select {
    margin-inline: .5rem;
}

.pie-header-container h2 {
    font-size: 1.5rem;
}