.Nav {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgba(0,184,255, .6);
    box-shadow: 10px 10px 15px rgba(0,0,0,.4);
    margin: 4rem 2rem;
    gap: 3rem;
    border-radius: 10px;
    font-size: 1.2rem;
}

.Nav a {
    text-decoration: none;
    color: black;
}

.Nav a:hover {
    color: #d600ff;
}