.auth-container .form-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container p {
    font-size: 1rem;
}