.home-page {
    display: flex;
}

.home-page h3 {
    text-align: center;
}

.recent-expenses-container {
    margin-top: 4rem;
    flex-grow: 1;
}

@media screen and (max-width: 81.25em) {

    .home-page {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .recent-expenses-container {
        max-width: 70%;
        margin: 0 auto 5rem auto;
    }

    .graph-container {
        width: 65vw;
    }

    .pie-chart {
        width:35vw;
    }

    .home-page .line {
        width: auto;
    }

    .home-page .pie {
        width: auto;
    }

}

@media screen and (max-width: 56.25em) {

    .menu-icon {
        display: block
    }

    .home-page .Nav {
        opacity: 0;
        pointer-events: none;
        position: fixed;
        top: 3rem;
        left: .5rem;
        padding-bottom: 10rem;
        background-color: rgba(0, 184, 255, 1);
        transform: translateX(-15rem);
        transition: all .5s;
        font-size: 2rem;
        z-index: 10;
    }

    .home-page .Nav.menu-visible {
        opacity: 1;
        pointer-events: all;
        transform: translateX(0);
    }

    .home-page {
        display: flex;
        flex-direction: column;
    }

    .home-page .line {
        margin-inline: auto;
        margin-top: 5rem;
    }

    .home-page .pie {
        margin-inline: auto;
    }

    .pie-chart {
        width: 15rem;
    }

    .line-graph {
        width:23rem;
        margin-top: 2.5rem;
    }

    .home-page {
        width: 100%;
    }

    .graph-container {
        margin-inline: .5rem;
        width: 100%;
        display: flex;
    }

    .recent-expenses-container {
        width: 100%;
        max-width: 100%;
        margin-inline: 0;
    }
}

@media screen and (max-width: 46.87em) {
    .graph-container {
        display: block;
        margin-left: 3rem;
    }

    .line-graph {
        margin-top: 0;
        width: 80vw;
    }

    .pie-chart {
        width: 60vw;
    }

    .home-page .line {
        margin-top: 1rem;
    }

}


@media screen and (max-width: 33.12em) {

    html {
        font-size: 90%;
    }

    .pie-chart {
        width: 70vw;
    }
    
    .line-graph {
        width: 95vw;
    }

    .graph-container {
        margin-left: 1rem;
    }

}